<!DOCTYPE html>
<html>
<head>
    <title>Lap Timer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:text=0123456798" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
</head>
<body>

<div class="main-layout">
    <header>
        <div id="elapsed">
            <div class="block">
                <div class="time timeBig">{{ formatted_time }}</div>
                <div>Total Race Time</div>
            </div>
        </div>
        <div id="startLights">
            <div class="startLight"></div>
            <div class="startLight"></div>
            <div class="startLight"></div>
            <div class="startLight"></div>
            <div class="startLight"></div>
        </div>
    </header>

    <main id="lap_times">

        <div class="flex-container" id="lane1">
            <div class="timeBlock curent-lap">
                <div class="time timeBig">{{ formatted_current_lap_time1 }}</div>
                <div>Current</div>
            </div>

            <div class="timeBlock last-lap">
                <div class="time timeBig">{{ formatted_last_lap_time1 }}</div>
                <div>Last</div>
            </div>

            <div class="timeBlock best-lap">
                <div class="time timeBig">{{ formatted_fastest_lap_time1 }}</div>
                <div>Fastest</div>
            </div>

            <div class="lapsBlock num-laps">
                <div class="lap">{{ num_laps1 }}</div>
                <div>Laps</div>
            </div>
        </div>

        <div class="flex-container">
            <div class="timeBlock curent-lap">
                <div class="time timeBig">{{ formatted_current_lap_time2 }}</div>
                <div>Current</div>
            </div>

            <div class="timeBlock last-lap">
                <div class="time timeBig">{{ formatted_last_lap_time2 }}</div>
                <div>Last</div>
            </div>

            <div class="timeBlock best-lap">
                <div class="time timeBig">{{ formatted_fastest_lap_time2 }}</div>
                <div>Fastest</div>
            </div>

            <div class="lapsBlock num-laps">
                <div class="lap">{{ num_laps2 }}</div>
                <div>Laps</div>
            </div>
        </div>

    </main>
    <footer>
        <button onclick="startTimer()">Start Timer</button>
        <button onclick="continueTimer()">Continue Timer</button>
        <button onclick="stopTimer()">Stop Timer</button>
        <button onclick="lap1()">Lap 1</button>
        <button onclick="lap2()">Lap 2</button>
        <button onclick="refreshValues()">Refresh</button>
        <button onclick="reset()">Reset</button>
    </footer>
</div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>